{{ "<!-- Jobs -->" | safeHTML }}

<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.jobs.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
    <div class="row">
	<div class="col-lg-12">
	    {{ range .Site.Params.jobs.positions }}
		<h4>Position: {{ .title }}</h4>
		<p><strong>Requirements:</strong> {{ .requirements }}</p>
		<p><strong>Special Requirements:</strong> {{ .description }}</p>
		<p><strong>Job Duties:</strong> {{ .duties }}</p>
		<p><strong>Salary:</strong> {{ .salary }}</p>
		<p><strong>Contact:</strong> {{ .contact }}</p>
	    {{ end }}
	</div>
    </div>
</section>
